{% extends 'rango/base.html' %}
{% load static %}

{% block title_block %}
    About
{% endblock %}

{% block body_block %}
    <a href="{% url 'rango:index' %}">Rango Homepage</a>
    <br /><br />
    <img width=500 src="{% static "images/rango.jpg" %}" alt="Picture of Rango" />

    <p>This tutorial has been put together by Devdude!</p>

    <img width=500 src="{{ MEDIA_URL }}cat.jpg">
    <p>This cat is served from media... Honestly!</p>

    <p>visits to Rango: {{ visits }}</p>
{% endblock %}
